body {
  padding: 15% 40% 0 40%;
}

.calculator_container {
  border-style: solid;
  border-width: 1px;
  width: 20rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
}

.result_div {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-size: 2rem;
  height: 3rem;
  background-color: gray;
  color: white;
}

.first_row {
  display: flex;
  height: 3rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0.5px;
  border-color: aliceblue;
  width: 25%;
  background-color: antiquewhite;
}

.operation_button {
  background-color: orange;
}

.zero_button {
  width: 50%;
}
